@{
    ViewBag.Title = "Customer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to Vehicle loan System</p>

<br />
<h4>Please Login to Enter Vehicle Loan System</h4>
<button>@Html.ActionLink("Click To Login Or Ragister", "Login", "Customers")</button>