@{
    ViewBag.Title = "Admin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Welcome back to Vehicle loan System</p>

<br />
<h4>Please Login to Enter Vehicle Loan System</h4>
<button>@Html.ActionLink("Login", "Login", "Admin")</button>